<!-- Header -->
<%- include('include/_header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add_number" class="border-shadow">
                <span class="text-gradient">Add new number <i class="fa-light fa-hashtag"></i></span>
            </a>
        </div>

        <!-- FORM HANDLING -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Monthly Price</th>
                        <th>Setup Price</th>
                        <th>Currency</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_row') %>
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- Footer -->
<%- include('include/_footer') %>