<!-- Header -->
<%- include('include/_header') %>


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/"><i class="fa-solid fa-backward"></i>All Users</a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Number</h2>
            <span class="text-light">Use the form below to update number</span>
        </div>

        <!-- FORM HANDLING -->
        <form method="POST" id="update_number">
            <div class="new_number">
                <div class="form-group">
                    <label for="number" class="text-light">Number: </label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="number" value="" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <label for="monthly" class="text-light">Monthly: </label>
                    <input type="text" name="monthly" value="" placeholder="Monthly price">
                </div>
                <div class="form-group">
                    <label for="setup" class="text-light">Setup: </label>
                    <input type="text" name="setup" value="" placeholder="Setup price">
                </div>
                <div class="form-group">
                    <label for="currency" class="text-light">Currency: </label>
                    <input type="text" name="currency" value="" placeholder="Currency">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Submit</button>
                </div>
            </div>

        </form>        
    </div>
</main>




<!-- Footer -->
<%- include('include/_footer') %>