<tr>
    <td>42</td>
    <td>+55 84 91234-4321</td>
    <td>0.03</td>
    <td>3.40</td>
    <td>U$</td>
    <td>
        <a href="update_number" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-regular fa-pen-to-square"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>